{% extends 'szablon.html' %}


{% block tresc %}

    <div class="w-100 bg-primary rounded p-4">

        <h2 class="section-heading mb-4">

            <span class="section-heading-upper">Przeczytaj</span>

            <span class="section-heading-lower">Aktualności</span>

        </h2>

        <ul>

        {% for w in wiadomosci %}

        <li class="mb-5">

            <span class="lead">{{ w.tresc }}</span><br>

            <span class="float-right">Dodano: {{ w.data_d }}</span>

        </li>

        {% endfor %}

        </ul>

    </div>

{% endblock %}